# *** INTELLIJ IDEA ***
.idea
web-site.iml

# *** SERVER ***
server/target/
### maven
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
server/.mvn/wrapper/maven-wrapper.jar

# *** WEB ***
web/fredys-burgers/node_modules
web/fredys-burgers/.vite
