footer{
  background-color: #000000;
  margin-top: -2vh;
  width: 100%;
  height: 100%;
}
.wrapper-footer{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;

  section{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFFFFF;

    h2{
      font-weight: 700;
      margin:1vh 0vh 0vh 2vh;
      font-size: 400%;
    }
    h3{
      font-size: 200%;
      text-align: center;
    }
    ul{
      margin-top: 1.5em;
      list-style: none;
    }
    a{
      text-decoration: none;
      color:#FFFFFF;
      :hover{
        color:orange;
      }
    }

    li{
      font-weight:300;
      font-size: 120%;
      line-height: 1.7em;
      :nth-child(1){
        font-weight: 500;
        font-size: 135%;
        line-height: 2em;
      }
    }
  }
}