@font-face {
  font-family: 'Conv_Sitka-Banner';
  src: url('Sitka-Banner.eot');
  src: local('☺'),
  url('Sitka-Banner.woff') format('woff'),
  url('Sitka-Banner.ttf') format('truetype'),
  url('Sitka-Banner.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}