@import "../../../style/mixins";

.wrapper{
  @include df;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
  min-height: 100%;
}
.entrance{
  @include df;
  width: 100%; // %
  height: 100vh;
  background-image: url(../../../imgs/entrance-background.jpg);
  background-size:cover;
  background-position: center;

  h1 {
    font-family: 'Sitka Banner';
    color:#ffffff;
    z-index: 1;
    font-size:600%;
  }
}