@import "../../../style/mixins.scss";

.order-block{
  width: 100%;
  flex-direction: column;
  h2{
    @include df;
    font-family: 'Sitka Banner';
    font-size: 500%;
    font-weight: 600;
  }
  ul{
    overflow: hidden;
    width:100%;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;

    li{
      @include df;
      cursor: pointer;
      z-index: 1;

    }
  }

  img{
    transition:transform 0.3s linear, filter 0.3s linear;
    width: 100%;
    height: 100%;
    object-fit:fill;
    object-position: center;
  }

}
.burg-buy{

  padding: 1% 2%;
  z-index: 1;
  position: absolute;
  height: 32%;
  background-color: rgba(#14253a, 0.86) ;
  border-radius: 30px;
  display: grid;
  grid-template-rows: 15% 60% 25%;
  justify-content: center;
  align-items: center;
  justify-items: center;

  h3{
    color: #d2b515;
    text-align: center;
    font-size: 270%;
    // margin: 10% 0 0 0;
    font-family: 'Courier New', Courier, monospace;
  }

  ul{
    display: block;
    list-style: circle !important;

  }
  li{
    justify-content: start !important;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 135%;
    color:#ffffff;
  }
  button{
    transition: background-color 0.3s, color 0.3s;
    z-index: 2;
    font-size: 2em;
    color:#ffffff;
    border-style: solid;
    border-color: #000000;
    background-color: #292929;
    opacity: 1 !important;
    border-radius: 30px;
    min-height: 5.5vh;
    min-width:6vw;
    cursor: pointer;

  }
  opacity: 0;
  transition: opacity 0.2s;
}